@import 'tailwindcss';

:root {
  --bg-base: #050508;
  --accent: #0ea5e9;
  --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
  --font-fira-code: 'Fira Code', monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--bg-base);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  color: #f4f4f5;
  overflow-x: hidden;
  font-family: var(--font-inter);
}

.mono {
  font-family: var(--font-fira-code);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #050508;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.glass {
  background: rgba(18, 18, 21, 0.4);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.code-comment {
  color: #71717a;
}
.code-keyword {
  color: #f472b6;
}
.code-func {
  color: #38bdf8;
}
.code-string {
  color: #4ade80;
}
.code-prop {
  color: #fbbf24;
}
.code-const {
  color: #c084fc;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
